
@media screen and (max-width: 760px) {
    header{
        flex-direction: column;
        
    }
    ul{
        font-size: 20px;   
    }
    main{
        flex-direction: column;
    }
    img{
        display: none;
    }

    h2{
        font-size: 40px;
        line-height: 40px;
    }
    input[type="submit"]{
        width: 100%;
        
    }

    footer{
        display: none;
    }
}
@media screen and (max-width: 1062px) {
   
    h2{
        font-size: 40px;
    }
}
@media screen and (max-width: 920px) {
   
    h2{
        font-size: 30px;
    }
}
